.EMTVALENCIA{

    font-size: 20px;
    color: white;
    line-height: 1.2;

}

.EMTupdated{

    margin-top: 5px;
    color: lightslategray;
    font-style: italic;
    text-align: center;
    font-size: 17px;

}

#tiempo{

    color: gray;
    text-align: right;
    font-weight: bold;

}